<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
import third_party_auth
from third_party_auth import provider, pipeline
from openedx.core.djangolib.markup import HTML, Text
from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>

<%block name="pagetitle">${_("Log into your {platform_name} Account").format(platform_name=platform_name)}</%block>

<%block name="bodyclass">view-login</%block>

    % if third_party_auth.is_enabled():

      <span class="deco-divider">
        ## Developers: this is a sentence fragment, which is usually frowned upon.  The design of the pags uses this fragment to provide an "else" clause underneath a number of choices.  It's OK to leave it.
        ## Translators: this is the last choice of a number of choices of how to log in to the site.
        <span class="copy">${_('or')}</span>
      </span>

    <div class="form-actions form-third-party-auth">

    % for enabled in provider.Registry.displayed_for_login():
      ## Translators: provider_name is the name of an external, third-party user authentication provider (like Google or LinkedIn).
      <button type="submit" class="button button-primary button-${enabled.provider_id} login-${enabled.provider_id}" onclick="thirdPartySignin(event, '${pipeline_url[enabled.provider_id]| n, decode.utf8}');">
        % if enabled.icon_class:
        <span class="icon fa ${enabled.icon_class}" aria-hidden="true"></span>
        % else:
        <span class="icon" aria-hidden="true"><img class="icon-image" src="${enabled.icon_image.url}" alt="${enabled.name} icon" /></span>
        % endif
        ${_('Sign in with {provider_name}').format(provider_name=enabled.name)}
      </button>
    % endfor

    </div>

    % endif

  </section>

  <aside role="complementary">

<%
  # allow for theming overrides on the registration sidebars, otherwise default to pre-existing ones
  sidebar_file = static.get_template_path('login-sidebar.html')
%>

    <%include file="${sidebar_file}" />

  </aside>
  </section>
